<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Edit Item</h2>
<form method="POST">
  {% csrf_token %}
  <input name="name" value="{{item.name}}"><br>
  <textarea name="description">{{item.description}}</textarea><br>
  <input name="price" value="{{item.price}}"><br>
  <button>Update</button>
</form>
<a href="/deshdoard/">Back to Dashboard</a>
<a href="/delete/{{item.id}}/">Delete</a>
</body>
</html>